@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-title: 'Cinzel Variable', 'serif';
  --font-subtitle: 'Oswald Variable', 'sans-serif';
  --font-sans: 'Poppins', 'sans-serif';

  --color-muted-50: #f5f6f6;
  --color-muted-100: #e4e7e9;
  --color-muted-200: #ccd2d5;
  --color-muted-300: #a9b3b7;
  --color-muted-400: #7e8b92;
  --color-muted-500: #637077;
  --color-muted-600: #555f65;
  --color-muted-700: #495155;
  --color-muted-800: #3d4246;
  --color-muted-900: #393d40;
  --color-muted-950: #232629;

  --color-monza-50: #fff1f2;
  --color-monza-100: #ffe1e2;
  --color-monza-200: #ffc7c9;
  --color-monza-300: #ffa0a4;
  --color-monza-400: #ff6a70;
  --color-monza-500: #f83b43;
  --color-monza-600: #e61c24;
  --color-monza-700: #bb131a;
  --color-monza-800: #a0141a;
  --color-monza-900: #84181c;
  --color-monza-950: #48070a;

  --color-lucky-50: #f0f3fe;
  --color-lucky-100: #dee3fb;
  --color-lucky-200: #c4cff9;
  --color-lucky-300: #9cb0f4;
  --color-lucky-400: #6d87ed;
  --color-lucky-500: #4b60e6;
  --color-lucky-600: #3641da;
  --color-lucky-700: #2d30c8;
  --color-lucky-800: #2b2aa3;
  --color-lucky-900: #272881;
  --color-lucky-950: #242362;

  --color-madison-50: #e9f9ff;
  --color-madison-100: #cef2ff;
  --color-madison-200: #a7e9ff;
  --color-madison-300: #6be0ff;
  --color-madison-400: #26c9ff;
  --color-madison-500: #00a3ff;
  --color-madison-600: #0079ff;
  --color-madison-700: #005eff;
  --color-madison-800: #0050e6;
  --color-madison-900: #0049b3;
  --color-madison-950: #002557;



  --animate-slow-zoom: slow-zoom 27s ease forwards;
  --animate-fast-zoom: fast-zoom 9s ease alternate infinite;
  
  @keyframes slow-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.15);
      }
    }
  
    @keyframes fast-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.25);
      }
    }
}


.btn-primary {
  @apply bg-madison-950 border border-madison-950 text-white font-semibold rounded-md px-5 py-2 flex items-center justify-center gap-2 transition cursor-pointer hover:bg-white hover:border-monza-900 hover:text-madison-950 transition duration-200 hover:scale-105;
}

.btn-transparent {
  @apply bg-transparent border border-white rounded-md px-5 py-2 text-white font-semibold cursor-pointer hover:bg-white hover:text-madison-950 transition duration-200 hover:scale-105;
}

.title {
  @apply font-title text-4xl md:text-5xl lg:text-6xl font-bold text-madison-950 mb-4
}

.subtitle {
  @apply text-lg md:text-xl text-gray-600 max-w-3xl mx-auto
}