@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-title: 'Cinzel Variable', 'serif';
  --font-subtitle: 'Oswald Variable', 'sans-serif';
  --font-sans: 'Poppins', 'sans-serif';

  --color-muted-50: #f6f7f8;
  --color-muted-100: #e9edf0;
  --color-muted-200: #d9e0e4;
  --color-muted-300: #becad2;
  --color-muted-400: #a3b3be;
  --color-muted-500: #8799aa;
  --color-muted-600: #76869a;
  --color-muted-700: #69778c;
  --color-muted-800: #596374;
  --color-muted-900: #4a525e;
  --color-muted-950: #30343b;


  --color-monza-50: #fff1f2;
  --color-monza-100: #ffe1e2;
  --color-monza-200: #ffc7c9;
  --color-monza-300: #ffa0a4;
  --color-monza-400: #ff6a70;
  --color-monza-500: #f83b43;
  --color-monza-600: #e61c24;
  --color-monza-700: #bb131a;
  --color-monza-800: #a0141a;
  --color-monza-900: #84181c;
  --color-monza-950: #48070a;

  --color-madison-50: #e9f9ff;
  --color-madison-100: #cef2ff;
  --color-madison-200: #a7e9ff;
  --color-madison-300: #6be0ff;
  --color-madison-400: #26c9ff;
  --color-madison-500: #00a3ff;
  --color-madison-600: #0079ff;
  --color-madison-700: #005eff;
  --color-madison-800: #0050e6;
  --color-madison-900: #0049b3;
  --color-madison-950: #002557;



  --animate-slow-zoom: slow-zoom 27s ease forwards;
  --animate-fast-zoom: fast-zoom 9s ease alternate infinite;
  
  @keyframes slow-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.15);
      }
    }
  
    @keyframes fast-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.25);
      }
    }
}


.btn-primary {
  @apply bg-madison-950 border border-madison-950 text-muted-50 font-semibold rounded-md px-5 py-2 flex items-center justify-center gap-2 transition cursor-pointer hover:bg-muted-50 hover:border-muted-50 hover:text-madison-950 transition duration-200 hover:scale-105;
}

.btn-transparent {
  @apply bg-transparent border border-muted-50 rounded-md px-5 py-2 text-muted-50 font-semibold cursor-pointer hover:bg-muted-50 hover:text-madison-950 transition duration-200 hover:scale-105;
}

.title {
  @apply font-title text-4xl md:text-5xl lg:text-6xl font-bold text-madison-950 mb-4
}

.subtitle {
  @apply font-subtitle text-lg md:text-xl text-muted-600 max-w-3xl mx-auto tracking-wide
}

.hero-image-mask {
  position: absolute;
  inset: 0;
  overflow: hidden;
  clip-path: polygon(
    0 100%,                 /* bottom-left: full height */
    100% calc(100% - 5rem), /* bottom-right: lifted up by h-20 */
    100% 0,                 /* top-right */
    0 0                     /* top-left */
  );
}
