---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="elementor-widget-wrap elementor-element-populated">
    <div
      class="elementor-element elementor-element-53bcd82 elementor-widget elementor-widget-text-editor"
      data-id="53bcd82"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div class="elementor-widget-container">
        <h3><strong>Helpful Training Docs:</strong></h3><p>
          <a
            href="https://jseagle.com/wp-content/uploads/2025/07/Eagle-Aircraft-Operations-Manual-04_10_2023-1.pdf"
            >Eagle Aircraft Operations Manual 04_10_2023</a
          >
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2021/05/Aviation-Terminology.docx"
            >Aviation Terminology</a
          >
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2021/05/Written-Exam-Sign-Up-Sheet.pdf"
            >Written Exam Instructions</a
          >
        </p><p>
          <a
            href="https://jseagle.com/wp-content/uploads/2024/07/Student-Checkride-list.docx.pdf"
            >Checkride Checklist</a
          >
        </p><p>
          <a
            href="https://docs.google.com/forms/d/1zUM8bCothotjkPw0gYWt4ZBR-2PkwtkqH4yUeeU6t5I/edit#responses"
            >Fuel Reimbursement</a
          >
        </p><h3><strong>Requirements:</strong></h3><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2013/01/141-Private-Requirements-black-white.pdf"
          ></a><a
            href="https://jseagle.com/wp-content/uploads/2022/11/Private-Pilot-Part-141-Requirements.pdf"
            >Private Pilot Part 141 Requirements</a
          ><a
            href="http://jseagle.com/wp-content/uploads/2013/01/141-Private-Requirements-black-white.pdf"
          ></a>
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2013/01/INSTRUMENT-PILOT-REQUIREMENTS.pdf"
          ></a><a
            href="https://jseagle.com/wp-content/uploads/2022/09/Instrument-Part-141-Requirements.pdf"
            >Instrument Part 141 Requirements</a
          >
        </p><p>
          <a
            href="https://jseagle.com/wp-content/uploads/2022/09/Instrument-Part-61-Requirements.pdf"
            >Instrument Part 61 Requirements</a
          >
        </p><p>
          <a
            href="https://jseagle.com/wp-content/uploads/2022/09/Commercial-Part-141-Requirements.pdf"
            >Commercial Part 141 Requirements</a
          >
        </p><p>
          <a
            href="https://jseagle.com/wp-content/uploads/2022/09/Commercial-Part-61-Requirements.pdf"
            >Commercial Part 61 Requirements</a
          ><a
            href="http://jseagle.com/wp-content/uploads/2013/01/INSTRUMENT-PILOT-REQUIREMENTS.pdf"
            >&nbsp;</a
          >
        </p><p>
          <a
            href="https://jseagle.com/wp-content/uploads/2022/09/Multi-Engine-61-vs-141-Requirements.pdf"
            >Multi-Engine 61 vs 141 Requirements</a
          >
        </p><p>
          <a
            href="https://jseagle.com/wp-content/uploads/2022/09/CFI-Part-141-vs-61-Requirements.pdf"
            >CFI Part 141 vs 61 Requirements</a
          >
        </p><h3><strong>Study Guides</strong></h3><p>
          Every instructor uses these guides for the maneuvers you will learn.
          You can study these ahead of time to be ready for your lesson.
        </p><h5>Private Pilot Maneuvers</h5><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/06/Private-Cessna-172-Maneuvers.pdf"
            target="_blank"
            rel="noopener noreferrer"
            >C-172S Private Pilot Maneuvers Study Guide</a
          >
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/08/C-172M-Private-Maneuvers.pdf"
            >C-172M Private Maneuvers Study Guide</a
          >
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/06/Private-Cessna-150-Maneuvers-1.pdf"
            target="_blank"
            rel="noopener noreferrer"
            >C-150 Private Pilot Maneuvers Study Guide</a
          >
        </p><h5>Commercial Pilot Maneuvers</h5><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/06/Commercial-Cessna-172-Maneuvers.pdf"
            target="_blank"
            rel="noopener noreferrer"
            >C-172S Commercial Pilot Maneuvers Study Guide</a
          >
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/08/Commercial-Cessna-172M-Maneuvers.pdf"
            >C-172M Commercial Maneuvers Study Guide</a
          >
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/06/Commercial-150-Maneuvers.pdf"
            target="_blank"
            rel="noopener noreferrer"
            >C-150 Commercial Pilot Maneuvers Study Guide</a
          >
        </p><h5>Traffic Pattern</h5><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2013/01/141-Private-Requirements-black-white.pdf"
          ></a><a
            href="https://jseagle.com/wp-content/uploads/2022/11/VPZ-Airport-Diagram.pdf"
            >VPZ Airport Diagram</a
          ><a
            href="http://jseagle.com/wp-content/uploads/2013/01/141-Private-Requirements-black-white.pdf"
          ></a>
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/03/C-172-Traffic-Pattern.pdf"
            target="_blank"
            rel="noopener noreferrer">C-172S Traffic Pattern</a
          >
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/03/C-150-Traffic-Pattern.pdf"
            target="_blank"
            rel="noopener noreferrer">C-150 Traffic Pattern</a
          >
        </p><h3>Additional Training Docs</h3><p>
          <a
            href="https://jseagle.com/wp-content/uploads/2019/08/Radio-Communications-Handout.docx"
            >Radio Communications Handout</a
          >
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/04/Takeoff-Briefing.pdf"
            target="_blank"
            rel="noopener noreferrer">Standard Takeoff Briefing</a
          >
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/04/Cross-Country-Requirements.pdf"
            target="_blank"
            rel="noopener noreferrer">Cross Country Requirements</a
          >
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/04/Instrument-Manuevers.pdf"
            target="_blank"
            rel="noopener noreferrer">Instrument Maneuvers</a
          >
        </p><p>
          <a
            href="https://jseagle.com/wp-content/uploads/2022/09/Restricted-ATP-vs-Unrestricted-ATP.pdf"
            >Restricted ATP vs Unrestricted ATP</a
          >
        </p><h3>Aircraft POH</h3><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/06/SkyhawkPOH04N.pdf"
            target="_blank"
            rel="noopener noreferrer">Cessna 172S Skyhawk (steam gauge)</a
          >
        </p><p>
          <a
            href="https://jseagle.com/wp-content/uploads/2024/01/N4347R-POH.pdf"
            >Cessna 172M (steam gauge)</a
          >
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/06/Cessna-1967-150-POH.pdf"
            target="_blank"
            rel="noopener noreferrer">Cessna 150 (1967)</a
          >
        </p><p>
          <a
            href="http://jseagle.com/wp-content/uploads/2019/06/Cessna-1973-150-POH.pdf"
            target="_blank"
            rel="noopener noreferrer">Cessna 150 (1973)</a
          >
        </p><h3>Aircraft Checklists</h3><div>
          <a
            href="https://jseagle.com/wp-content/uploads/2022/11/C172S-G1000-Checklist.pdf"
            >C172S G1000 Checklist</a
          > – <a
            href="https://jseagle.com/wp-content/uploads/2023/06/C150-N7186S-Emergency-Checklist.pdf"
            >Emergency Checklist</a
          >
          <a
            href="https://jseagle.com/wp-content/uploads/2023/06/C172S-G1000-Emergency-Checklist.pdf"
            >C172S G1000&nbsp;</a
          >
        </div><div>
          <a
            href="https://jseagle.com/wp-content/uploads/2022/11/C172S-N5204N-Checklist.pdf"
            >C172S N5204N Checklist</a
          >&nbsp; – <a
            href="https://jseagle.com/wp-content/uploads/2023/06/C-172S-Emergency-Checklist.pdf"
            >C-172S Emergency Checklist</a
          ><br /><a
            href="https://jseagle.com/wp-content/uploads/2022/11/C150-N1NS-Checklist.pdf"
            >C150 N1NS Checklist</a
          >&nbsp; – <a
            href="https://jseagle.com/wp-content/uploads/2023/06/C150-N1NS-Emergency-Checklist.pdf"
            >C150 N1NS Emergency Checklist</a
          ><br /><a
            href="https://jseagle.com/wp-content/uploads/2022/11/C150-N7186S-Checklist.pdf"
            >C150 N7186S Checklist</a
          >&nbsp; – <a
            href="https://jseagle.com/wp-content/uploads/2023/06/C150-N7186S-Emergency-Checklist.pdf"
            >C150 N7186S Emergency Checklist</a
          >
        </div><div>
          <a
            href="https://jseagle.com/wp-content/uploads/2022/11/C150-N10839-Checklist.pdf"
            >C150 N10839 Checklist</a
          >&nbsp; – <a
            href="https://jseagle.com/wp-content/uploads/2023/06/C150-N10839-Emergency-Checklist.pdf"
            >C150 N10839 Emergency Checklist</a
          >
        </div><div>
          <a
            href="https://jseagle.com/wp-content/uploads/2022/11/C172M-N4347R-Checklist.pdf"
            >C172M N4347R Checklist</a
          > –&nbsp; <a
            href="https://jseagle.com/wp-content/uploads/2022/11/C172M_N-Emergency-Checklist.pdf"
            >C172M_N Emergency Checklist</a
          ><a
            href="http://chrisk117.sg-host.com/wp-content/uploads/2021/05/C172M-N4347R-Checklist.pdf"
          ></a>
        </div><div>
          <a
            href="https://jseagle.com/wp-content/uploads/2022/11/C172P-N5314K-Checklist.pdf"
            >C172P N5314K Checklist</a
          >&nbsp; –&nbsp; <a
            href="https://jseagle.com/wp-content/uploads/2022/11/C172M_N-Emergency-Checklist.pdf"
            >C172M_N Emergency Checklist</a
          >
        </div><div></div><div>
          <a
            href="https://jseagle.com/wp-content/uploads/2022/11/Exterior-Inspections.pdf"
            >Exterior Inspections</a
          >&nbsp;
        </div><div></div><div>
          <a
            href="https://jseagle.com/wp-content/uploads/2023/01/BE-95-55-Checklists.pdf"
            >BE-95-55 Checklists\</a
          >
        </div><div></div><div>
          <a
            href="https://jseagle.com/wp-content/uploads/2024/12/Checklists-Sheet1-2.pdf"
            >P2010 Tecnam Checklist</a
          >
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
